*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font1: 'Raleway', sans-serif;
    --font2: 'Mochiy Pop One', sans-serif;
}

header{
    display:flex;
    background-color: aqua;
    width: 100%;
    height: 80px;

}

.posicionamento_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;    
}

.posicionamento-menu a{
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
}

.posicionamento-menu .link_cadastrar{
    color: #ff6e22;
}



/*SEÇÕES*/

.secao-1{
    background-color: #ff6e22;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
}

.secao-1-bloco{
    background-color: blue;
    display: flex;
    align-items: center;
    
}

.secao-1-bloco2{
    background-color: blueviolet;
    font-family: var(--font1);
    font-weight: 700;
    text-align: justify;
    font-weight: 500;
    font-family: var(--font1);
}

.secao-1-imagem{
    background-color: chartreuse;
    align-items: center;
    justify-content: space-between
}

.secao-1-img{
}
